body{
    margin:0;
    font-family:'Trebuchet MS';
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(images/pigAndCow.jpg);
    background-size:auto;
    overflow: hidden;  
}


h2{
    height: 50px;
    width: 400px;
    text-transform: lowercase;
    letter-spacing: 4px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    opacity: 0.7;
    border-radius: 5px;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:ghostwhite;
    opacity: 0.8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.clock .text{
    height: 30px;
    font-size: 15px;
    text-transform: lowercase;
    letter-spacing: 2px;
    background-color:mistyrose;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.clock #ampm{
    border-radius: 15px;
   
}

.movingPig{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.btn{
    background-color:  rgba(206, 208, 214, 0.85);
    padding: 20px 40px ;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
 
.btn #btnText{
    position: relative;
    z-index: 1;
}

.btn:hover{
    color: rgb(206, 208, 214);
}

.btn::before{
    content: "";
    position:absolute;
    background-color:rgb(65, 66, 69);
    width: 0px;
    height : 0px;
    border-radius: 50%;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%,-50%);
    transition: width 0.45s,height 0.45s;
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    height: 7px;
    background:#FFBCBC;
    position: relative;
    top: 10px;
    border-radius: 5px;
    outline: none;
    transition:  opacity .2s;
      -webkit-transition: .2s;
    
}
.slider:hover {
  background:#e8a0ad;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: url("images/pig.png"); 
    background-size: 30px;
    border: 0;
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: url("images/pig.png"); 
    background-size: 30px;
    border: 0;
    cursor: pointer; 
  }

@keyframes runningPig{
    25%{
        transform: translateX(calc(100vh - 150px));
    }
    75%{
        transform: translateX(calc(-100vh + 150px));
    }
}

#pigImg{
    width: 50%;
    height: auto;
    position: relative;
    top: 10px;
}

.animatePig{
    animation-name: runningPig;
    animation-duration: 5s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
}